@model IEnumerable<BangazonWorkforceManagement.Models.Department>

@{
    ViewData["Title"] = "Index";
}

    <style>
        .page_Header {
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="page_Header">
        <h1>Departments</h1>
    </div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                <span>Employee Count</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

       <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.Count)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })

            </td>
        </tr>
}
       
    </tbody>
</table>
